menu "x86 architecture"
    depends on ARCH_X86

choice
    prompt "CPU family"
    default ARCH_CPU_486
    help
      CPU family/architecture to support. This will automatically select
      features supported by the target. Note that currently, the kernel does not
      use CPUID to determine support at runtime, so a CPU at or below the desired
      target must be chosen to reliably operate on a given machine.

config ARCH_CPU_386
    bool "i386"

config ARCH_CPU_486
    bool "i486"

config ARCH_CPU_P5
    bool "Pentium/P5"

config ARCH_CPU_P6
    bool "Pentium Pro/P6"

endchoice # CPU family

choice
    prompt "Hardware target"

config ARCH_HW_PC
    bool "PC"

endchoice # Hardware target


menu "CPU Features"

menu "Paging"

config X86_PAGING_GLOBAL_PAGES
    bool "Global page support"
    depends on !ARCH_CPU_386 && !ARCH_CPU_486
    default y

config X86_PAGING_KERNEL_WP
    bool "Enable write-protect support while in kernel mode"
    default y

endmenu # Paging

menuconfig X86_APIC
    bool "APIC (Advanced Programmable Interrupt Controller) Support"
    depends on !ARCH_CPU_386
    default y if !ARCH_CPU_486

if X86_APIC

config X86_APIC_TIMER
    bool "APIC timer support (experimental)"
    default n

endif # X86_APIC

endmenu # CPU Features


config MULTIBOOT
    bool "Enable Multiboot support (do not disable)"
    default y
    help
      Enables Multiboot support for the kernel. Currently, this is the only
      supported boot method, so it must remain enabled.

config MULTIBOOT_VERSION
    int "Select Multiboot version"
    range 1 2
    default 2
    help
      Select Multiboot speicification version to use. Note that LBoot only
      supports version 2.

endmenu # x86 Architecture Config

