CONFIG_ARCH_X86=y
# CONFIG_ARCH_ARM32 is not set
# CONFIG_ARCH_RISCV is not set

#
# x86 architecture
#
# CONFIG_ARCH_CPU_386 is not set
CONFIG_ARCH_CPU_486=y
# CONFIG_ARCH_CPU_P5 is not set
# CONFIG_ARCH_CPU_P6 is not set
CONFIG_ARCH_HW_PC=y

#
# CPU Features
#

#
# Paging
#
CONFIG_X86_PAGING_KERNEL_WP=y
# end of Paging

# CONFIG_X86_APIC is not set
# end of CPU Features

CONFIG_MULTIBOOT=y
CONFIG_MULTIBOOT_VERSION=2
# end of x86 architecture

CONFIG_LOG_COLORCODE=y
# CONFIG_EMBEDDED_INITRD is not set
CONFIG_SAFETY_CHECKS=y
CONFIG_STRICTNESS=255

#
# Processes and threads
#
CONFIG_PROC_KERN_STACK_SIZE=4096
CONFIG_PROC_USER_STACK_SIZE=32768
CONFIG_PROC_USER_STACK_SIZE_MAX=65536
# CONFIG_PROC_STACK_GUARD is not set
# CONFIG_KTASK_DEBUGGER is not set
# end of Processes and threads

#
# General build options
#
CONFIG_BUILD_USE_WERROR=y
# CONFIG_BUILD_USE_CLANG is not set
# end of General build options
