# Object files
*.o
*.ko
*.bc
*.ll
*.d

# Build config
.config
.config.old

# Libraries
*.lib
*.a
*.shared

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Folders
.kdev4

# Config Files
*.kdev4

# Output files
*.kern
*.iso
*.cpio
*.bin
*.ukern
*.img
*.log

# GRUB files
stage2_eltorito

# vim
*.swp
*.swo

# Visual Studio Code
.vscode

# Doxygen output
doc

# Debug files
.gdb_history
__pycache__

# ctags
tags
.cache/
compile_commands.json

