# Object files
*.o
*.ko
*.bc
*.ll

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Folders
.kdev4

# Config Files
*.kdev4

# Output files
*.kern
*.iso
*.cpio

# GRUB files
stage2_eltorito

# vim
*.swp
*.swo

# Visual Studio Code
.vscode

symbols.c